:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --color-logo: #2196F3;
    --white-color: #ffffff;
    --cursor-default: default;

}
body {
    font-family: 'Roboto', sans-serif, 'Arial', sans-serif;
    color: var(--primary-text-color);
    background-color: var(--white-color);
                            
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}                      
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
                                /* Header section */
                                    /* Logo */
.logo-head {
    text-decoration: none;
    cursor: var(--cursor-default);
}

.logo-one {
    color: var(--color-logo);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.logo-dark {
    color: var(--secondary-text-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
                                /*  Site nav */
.site-nav {
    display: flex;
}
.site-nav .item + .item {
    margin-left: 50px;
}

.site-nav .link {
    display: block;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: var(--cursor-default);
    padding-top: 32px;
    padding-bottom: 32px;
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--color-logo);
}
.site-nav .link.current {
    color: var(--color-logo);
}
                                /* Info nav */
.info {
    display: flex;
}
.info .link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    cursor: var(--cursor-default);
}
.info .item + .item {
    margin-left: 50px;
}
.info .link:hover, 
.info .link:focus {
    color: var(--color-logo);
    
}
                                /* Servis section */
.service {
    background-color: #2F303A;
    height: 600px;
    text-align: center;
}
.service-hero {
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.service-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}
.service button {
    color: var(--white-color);
    background: var(--color-logo);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    Width: 200px;
    Height: 50px;
    border-radius: 4px;
}
.service button:hover,
.service button:focus {
    color: var(--secondary-text-color);
}
                                /* Benefits section */
.benefits {
    padding-top: 94px;
}
.benefits-hero {
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;

}
.benefits-text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
}

                                /* Work section */
.work-hero {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.work-list li {
    display: inline;
}
                                /* Team section */
                                
.team {
    background-color: #F5F4FA;
    }
.team-hero {
    color: var(--secondary-text-color);
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team-positio {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.team-list li {
    display: inline-block;
}
                                /* Footer section */
.footer .container a{
    display: block;
}
.logo-footer {
    text-decoration: none;
    cursor: var(--cursor-default);
    padding-top: 60px;
    
}
.logo-white {
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}
.footer {
    background-color: #2F303A;
    height: 252px;
    top: 1628px;
}
.address-location {
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address-info {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.address a {
    text-decoration: none;
    font-style: normal;
    cursor: var(--cursor-default);
}
.address a:hover,
.address a:focus {
    color: var(--color-logo);
}

                                    
                                    /* Страница Портфолио */

                                        /* Фильтр */
.list-filter {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.6;
letter-spacing: 0.03em;
background-color: #F5F4FA;
}
.list-button .current {
    color: var(--white-color);
    background-color: var(--color-logo);
}
.list-button button:hover,
.list-button button:focus {
    color: var(--white-color);
    background-color: var(--color-logo);
    }
                                        /* Портфолио */
.examples-hero {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.examples-text {
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
}